@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.position-card {
  display: grid;
  grid-template:
          "title figure"
          "text text"
          / auto min-content;
  max-width: 630px;
  padding: 15px 15px 10px 15px;
  background-color: white;
  border-radius: 20px;

  &:hover {
    padding: 13px 13px 8px 13px;
    border: 2px solid $color-default;
  }
  
  &--not-clickable {
    @extend .position-card;
    box-shadow: -15px 15px 0px $color-blue-mid;
    &:hover {
      padding: 15px 15px 10px 15px;
      border: none;
    }
  }

  &__figure {
    grid-area: figure;
    align-self: flex-start;
    width: 96px;
    height: 96px;
    // border-radius: 14px;
    // border: 2px solid $color-default;
    object-fit: cover;
  }

  &__name {
    grid-area: title;
    margin-bottom: 5px;
    margin-right: 15px;
    @include position-card-name-font;
  }

  &__description {
    grid-area: text;
    margin-top: 15px;
  }

  &__description-text {
    margin-bottom: 0;
    @include position-card-text-font;
  }
  
  &__tags-title {
    grid-column: 1 / 3;
    align-self: flex-end;
    margin-top: 30px;
    @include position-card-text-font;
  }

  &__tags {
    grid-column: 1 / 3;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  &__tag {
    margin-right: 10px;
  }
}



@media only screen and (min-width: 500px) {
  .position-card {
    display: grid;
    grid-template:
          "figure title" max-content
          "figure text"
          / min-content auto;
    padding: 20px;

    &:hover {
      padding: 18px;
    }
    
    &--not-clickable {
      
      &:hover {
        padding: 20px;
      }
    }

    &__figure {
      width: 144px;
      height: 100px;
    }

    &__name {
      align-self: flex-start;
      margin-left: 20px;
      margin-right: auto;
    }

    &__description {
      margin-top: 12px;
      margin-left: 20px;
    }
  }
}



@media only screen and (min-width: 950px) {
  .position-card {
    padding: 40px;

    &:hover {
      padding: 38px;
    }

    &--not-clickable {

      &:hover {
        padding: 40px;
      }
    }

    &__name {
      margin-left: 41px;
    }

    &__description {
      margin-top: 20px;
      margin-left: 41px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .position-card {
    padding: 40px 30px 40px 40px;

    &:hover {
      padding: 38px 28px 38px 38px;
    }

    &--not-clickable {

      &:hover {
        padding: 40px 30px 40px 40px;
      }
    }
  }
}