@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.related-items {
  padding-top: 0;
  
  &--blue-theme {
    @extend .related-items;
    padding-top: 56px;
    background-color: $color-blue-normal;
  }

  &--business-theme {
    @extend .related-items;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  &__container {

    &--blue-theme {
      @extend .related-items__container;
    }

    &--business-theme {
      @extend .related-items__container;
    }
  }

  &__title {
    margin: 0 12px 40px 20px;
    @include title-font;
    
    &--blue-theme {
      @extend .related-items__title;
      @include title-font(white);
    }
    
    &--business-theme {
      @extend .related-items__title;
      margin-left: 0;
      margin-bottom: 40px;
      @include small-title-font(white);
    }
    
    &--centered-title {
      margin-bottom: 50px;
    }
  }

  &__arrows {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 30px;

    &--centered-title {
      margin-bottom: 40px;
    }

    &--blue-theme {
      @extend .related-items__arrows;
    }

    &--business-theme {
      @extend .related-items__arrows;
      margin-left: 0;
    }
  }

  &__arrow-left, &__arrow-right {
    margin-left: 15px;
    font-size: 30px;
    border: 2px solid $color-default;
    padding: 10px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $color-default;
    cursor:pointer;
    
    &:hover {
      color: $color-default;
      background-color: white;
    }
    
    &--blue-theme {
      @extend .related-items__arrow-left;
      border: 2px solid white;
      color:$color-blue-normal;
      background-color: white;

      &:hover {
        color:white;
        background-color: $color-blue-normal;
      }
    }
    
    &--business-theme {
      @extend .related-items__arrow-left;
      border: 2px solid white;
      color:$color-blue-normal;
      background-color: white;

      &:hover {
        color:white;
        background-color: $color-blue-normal;
      }
    }
  }

  &__items {
    display: flex;
    margin-left: 18px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &--blue-theme {
      @extend .related-items__items;
    }

    &--business-theme {
      @extend .related-items__items;
      margin-left: 0;
    }
  }  
}



@media only screen and (min-width: 500px) {
  .related-items {

    &__title {
      margin-left: 40px;
      margin-right: 20px;
      
      &--business-theme {
        margin-left: 0;
      }
    }

    &__arrows {
      margin-left: 40px;

      &--business-theme {
        margin-left: 0;
      }
    }

    &__items {
      margin-left: 40px;

      &--business-theme {
        margin-left: 0;
      }
    }
  }
}



@media only screen and (min-width: 550px) {
  .related-items {

    &__container {

      &--business-theme {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__title {

      &--business-theme {
        flex: 1 1 250px;
        margin-bottom: 25px;
      }
    }

    &__arrows {

      &--business-theme {
        margin-left: 30px;
      }
    }

    &__arrow-left, &__arrow-right {

      &--business-theme {
        margin-left: 0;
        margin-right: 15px;
      }
    }

    &__items {

      &--business-theme {
        flex: 1 0 100%;
      }
    }
  }
}



@media only screen and (min-width: 800px) {
  .related-items {
    padding-top: 0;

    &--blue-theme {
      padding-top: 45px;
    }
    
    &--centered-title {
      padding-top: 75px;
    }
    
    &--business-theme {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      &--centered-title {
        display: block;
      }
    }

    &__title {
      margin: 30px 0 30px 50px;

      &--centered-title {
        margin: 0 50px 65px 300px;
      }
      
      &--business-theme {
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 0;
      }
    }

    &__arrows {
      justify-content: flex-end;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 70px;
      
      &--centered-title {
        margin-top: 0;
      }
      
      &--business-theme {
        margin-top: 0;
        margin-bottom: 40px;
        margin-right: 35px;
      }
    }

    &__arrow-left, &__arrow-right {}

    &__items {
      flex: 1 0 calc(100% - 50px);
      margin-left: 50px;

      &--business-theme {
        margin-left: 0;
      }
    }
  }
}



@media only screen and (min-width: 850px) {
  .related-items {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    
    &__title {
      margin-left: 0;
    }

    &__arrows {
      margin-right: 25px;
    }
    
    &__items {
      margin-left: 0;
    }
  }
}



@media only screen and (min-width: 1000px) {
  .related-items {

    &__title {
      
      &--centered-title {
        margin-left: 370px;
      }
    }
  }
}



@media only screen and (min-width: 1250px) {
  .related-items {
    width: 1030px;
    padding-top: 0;

    &--blue-theme {
      padding-top: 70px;
    }

    &--centered-title {
      padding-top: 100px;
    }
    
    &--business-theme {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__title {

      &--centered-title {
        margin: 0 369px 80px 491px;
      }

      &--business-theme {
        margin-left: 0;
      }
    }

    &__arrows {
      margin-right: 50px;
    }

    &__arrow-left, &__arrow-right {
      margin-left: 0;
      margin-right: 20px;
    }

    &__items {
      flex: 1 0 calc(100% - 70px);

      &--business-theme {
        margin-left: 0;
      }
    }
  }
}



@media only screen and (min-width: 1400px) {
  .related-items {
    width: 1180px;
  }
}



@media only screen and (min-width: 1600px) {
  .related-items {
    width: 1400px;

    &--business-theme {
      padding-left: 0;
    }

    &__arrows {

      &--business-theme {
        margin-right: 100px;
      }
    }
  }
}