@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.dynamic-browser {
  display: grid;
  grid-row-gap: 25px;
  margin-bottom: 30px;
  margin-left: 18px;
  margin-right: 17px;

  &__image-container {
    width: auto;
    max-width: 430px;
    background-color: $color-blue-very-light;
    
    &--reverse {
      @extend .dynamic-browser__image-container;
    }
  }

  &__image-responsive-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: auto;
    transition: opacity 500ms 350ms;

    &--hidden {
      @extend .dynamic-browser__image;
      opacity: 0;
      transition: opacity 500ms;
    }
  }

  &__item-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }

  &__item-title {
    flex-grow: 1;
    max-width: 400px;
    padding-right: 10px;
    @include subtitle-font;
    font-weight: 800;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      @extend .dynamic-browser__item-title;
      @include subtitle-font($color-blue-normal);
      font-weight: 800;
    }
  }

  &__item-title-arrow {
    margin-bottom: -10px;
    font-size: 40px;

    &:hover {
      cursor: pointer;
    }

    &--selected {
      @extend .dynamic-browser__item-title-arrow;
      color: $color-blue-normal;
    }
  }

  &__item-text {
    margin-bottom: 20px;
    @include text-font;
  }

  &__text-container {
    height: 575px;
    overflow-y: hidden;
    margin-bottom: -20px;
    
    &--reverse {
      @extend .dynamic-browser__text-container;
    }
  }
}



@media only screen and (min-width: 375px) {
  .dynamic-browser {
    &__text-container {
      height: 550px;
    }
  }
}



@media only screen and (min-width: 450px) {
  .dynamic-browser {
    &__text-container {
      height: 475px;
    }
  }
}



@media only screen and (min-width: 500px) {
  .dynamic-browser {
    margin-left: 40px;
    margin-right: 40px;
  }
}



@media only screen and (min-width: 600px) {
  .dynamic-browser {
    &__text-container {
      height: 435px;
    }
  }
}



@media only screen and (min-width: 800px) {
  .dynamic-browser {
    margin-bottom: 50px;
    grid-row-gap: 25px;

    &__image-container {
      max-width: 495px;
    }

    &__item-title-container {
      margin-bottom: 10px;
    }

    &__item-title {
      max-width: 465px;
    }

    &__item-text {
      margin-bottom: 25px;
    }
  }
}



@media only screen and (min-width: 850px) {
  .dynamic-browser {
    display: grid;
    grid-template:
            "left middle right"
            / 308px 116px 308px;
    column-gap: 24px;
    grid-row-gap: 60px;
    width: 780px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;

    &__image-container {
      grid-area: left;
      max-width: none;
      margin-bottom: auto;
      
      &--reverse {
        grid-area: right;
      }
    }

    &__text-container {
      grid-column: middle / right;
      height: 500px;
      margin-bottom: -40px;
      
      &--reverse {
        grid-column: left / middle;
      }
    }
  }
}



@media only screen and (min-width: 1250px) {
  .dynamic-browser {
    display: grid;
    grid-template:
            "left right"
            / 495px 495px;
    column-gap: 40px;
    grid-row-gap: 80px;
    width: 1030px;
    margin-bottom: 120px;

    &__item-title-container {
      max-width: 500px;
    }

    &__item-title {
      max-width: none;
    }

    &__text-container {
      grid-area: right;
      height: 560px;
      margin-bottom: -60px;
      
      &--reverse {
        grid-area: left;
      }
    }
  }
}



@media only screen and (min-width: 1400px) {
  .dynamic-browser {
    display: grid;
    grid-template:
            "left right"
            / 550px 550px;
    column-gap: 80px;
    width: 1180px;

    &__item-title-container {
      max-width: 550px;
      margin-bottom: 15px;
    }

    &__item-text {
      margin-bottom: 35px;
    }

    &__text-container {
      height: 500px;
      margin-bottom: -40px;
    }
  }
}



@media only screen and (min-width: 1600px) {
  .dynamic-browser {
    display: grid;
    grid-template:
            "left right"
            / 610px 610px;
    column-gap: 80px;
    width: 1300px;

    &__text-container {
      height: 475px;
    }
  }
}