@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";



.rich-text-section {
  margin: 35px 17px 50px 18px;
  
  &--with-navigator {
    @extend .rich-text-section;
  }
  
  &--smaller {
    margin: 35px 20px 50px 20px;
  }

  &__title {
    margin-bottom: 20px;
    @include title-font;
  }
}



@media only screen and (min-width: 500px) {
  .rich-text-section {
    margin-left: 40px;
    margin-right: 40px;

    &--smaller {
      max-width: 650px;
      margin-left: 20px;
      margin-right: 40px;
    }
  }
}



@media only screen and (min-width: 800px) {
  .rich-text-section {
    margin-top: 60px;

    &--smaller {
      margin-bottom: 55px;
      margin-left: auto;
      margin-right: auto;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
}



@media only screen and (min-width: 850px) {
  .rich-text-section {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
    &--with-navigator {
      width: auto;
      margin-left: 40px;
      margin-right: 20px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .rich-text-section {
    width: 1030px;
    margin-top: 70px;
    margin-bottom: 90px;

    &--with-navigator {
      width: auto;
    }

    &--smaller {
      width: 820px;
      max-width: none;
      margin-bottom: 80px;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .rich-text-section {
    width: 1180px;

    &--with-navigator {
      width: auto;
    }

    &--smaller {
      width: 820px;
    }
  }
}



@media only screen and (min-width: 1600px) {
  .rich-text-section {
    width: 1300px;

    &--with-navigator {
      width: auto;
    }

    &--smaller {
      width: 820px;
    }
  }
}