@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.grid {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 17px 40px 18px;
  background-color: white;

  &__showmorebutton{
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 50px 0 0 0;
    }
    &-button{

    }
  }
  
  &--red--very-light {
    @extend .grid;
    background-color: $color-red-very-light;
  }

  &--yellow--very-light {
    @extend .grid;
    background-color: $color-yellow-very-light;
  }

  &--green--very-light {
    @extend .grid;
    background-color: $color-green-very-light;
  }

  &--purple--very-light {
    @extend .grid;
    background-color: $color-purple-very-light;
    
  }

  
  &--white--very-light {
    @extend .grid;
    background-color: white;
    
  }

    
  &--red--light {
    @extend .grid;
    background-color: $color-red-light;
  }

  &--yellow--light {
    @extend .grid;
    background-color: $color-yellow-light;
  }

  &--green--light {
    @extend .grid;
    background-color: $color-green-light;
  }

  &--purple--light {
    @extend .grid;
    background-color: $color-purple-light;
    
  }

  &--white--light {
    @extend .grid;
    background-color: white;
    
  }

    
  &--red--normal {
    @extend .grid;
    background-color: $color-red-normal;
  }

  &--yellow--normal {
    @extend .grid;
    background-color: $color-yellow-normal;
  }

  &--green--normal {
    @extend .grid;
    background-color: $color-green-normal;
  }

  &--purple--normal {
    @extend .grid;
    background-color: $color-purple-normal;
    
  }

  &--white--normal {
    @extend .grid;
    background-color: white;
    
  }

  &--with-navigator {
    @extend .grid;
  }

  &__title {
    max-width: 500px;
    margin-bottom: 30px;
    @include title-font($color:$color-grey-normal);
  }

  &__text {
    width: 400px;
    margin: auto;
    padding: 30px 10px 40px 10px;
    @include slightly-larger-text-font($color:$color-grey-normal);
    p{color:$color-grey-normal!important};
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:masonry;
    grid-gap: 40px;

    &--with-navigator {
      @extend .grid__items;
    }
  }
}



@media only screen and (min-width: 500px) {
  .grid {
    padding: 40px 40px 50px 40px;
    &__items {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}



@media only screen and (min-width: 800px) {
  .grid {

    padding: 40px 50px 70px 50px;

    &__title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      text-align: center;
    }

    &__text {
      width: 600px;
      margin: auto;
      padding: 0px 70px 40px 70px;
      @include slightly-larger-text-font;
    }
  }
}



@media only screen and (min-width: 1000px) {
  .grid {

    &--with-navigator {
      padding-left: 40px;
      padding-right: 20px;
    }

    &__items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows:masonry;
      grid-gap: 40px;
      align-items: stretch;
    }
  }
}



@media only screen and (min-width: 1500px) {
  .grid {

    padding: 40px 70px 120px 70px;

    &--with-navigator {
      padding-left: 40px;
      padding-right: 20px;
    }

    &__title {
      max-width: 580px;
      margin-bottom: 70px;
    }

    &__text {
      width: 900px;
      margin: auto;
      padding: 0px 70px 40px 70px;
      @include slightly-larger-text-font;
    }

    &__items {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows:masonry;
      grid-gap: 40px;
      align-items: stretch;

      &--with-navigator {
        grid-template-columns: 1fr;
        grid-gap: 35px;
      }
    }
  }
}