@import "../../../styles/animations";
@import "../../../styles/font-mixins";
@import "../../../styles/colors";


.main-header {
  @include header-font;
  
  &__nav {
    display: grid;
    grid-template-rows: 83px;
    grid-template-columns: 230px auto;
  }
  
  &__nav-home {
    width: 230px;
    align-self: center;
    cursor: pointer;
    margin-left: 20px;
  }
  
  &__nav-home-container {
    display: flex;
    align-items: center;
  }

  &__nav-home-textlogo {
    margin-left: 10px;
    padding-top: 5px;
    @include header-tmla-font;
    
    &--expanded-nav {
      @extend .main-header__nav-home-textlogo;
      padding-top: 3px;
    }
  }
  
  &__nav-home-logo {
    display: none;
    height: 41px;
    
    &--mobile {
      @extend .main-header__nav-home-logo;
      display: block;
    }
  }
  
  &__nav-list {
    display: grid;
    grid-template-rows: 83px;
    grid-template-columns: auto 60px;
  }
  
  &__nav-item {
    list-style: none;
    align-self: center;
    justify-self: center;

    > a:hover, Link:hover {
      cursor: pointer;
      color: $color-blue-normal;
    }
    
    &--menu {
      @extend .main-header__nav-item;
      grid-column: 2 / 3;
      margin-right: 5px;
      padding-top: 7px;
      font-size: 35px;
      cursor: pointer;
    }
    &--0 {
      @extend .main-header__nav-item;
      position: relative;
      display: none;
      
      &:hover {
        .main-header__nav-dropdown {
          display: flex;
        }
      }
    }
    &--1 {
      @extend .main-header__nav-item;
      display: none;
    }
    &--2 {
      @extend .main-header__nav-item;
      display: none;
    }
    &--3 {
      @extend .main-header__nav-item;
      display: none;
    }
    &--last{
      @extend .main-header__nav-item;

      border: none;
      
      display: none;
    }
    &--approach {
      @extend .main-header__nav-item;
      display: none;
    }

    &--for-business {
      @extend .main-header__nav-item;
      display: none;
    }
    &--joinus {
      @extend .main-header__nav-item;
      display: none;
    }
  }
  
  &__nav-dropdown-wrapper {
    position: absolute;
    width: 100%;
    height: 20px;
  }
  
  &__nav-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    display: none;
    flex-direction: column;
    width: 460px;
    padding: 15px;
    border-radius: 14px;
    border: 2px solid $color-default;
    background-color: white;
    transform: translateX(-50%);
  }
  
  &__dropdown-item-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;

    img{
      width: 48px;
      height: 48px;
    }
    
    &:hover {
      background-color: $color-blue-ultra-light;
    }
  }

  &__expanded-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }

  &__expanded-nav-list {
    padding: 28px 19px 0 19px;
    width: 75%;
    min-width: 270px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    animation-name: slideInLeft;
    animation-duration: 500ms;
  }

  &__expanded-nav-item {
    list-style: none;
    margin-bottom: 15px;
    @include header-expanded-font;

    &--home {
      @extend .main-header__expanded-nav-item;
      max-width: 300px;
      margin-bottom: 40px;
    }
    &--0, &--1, &--2, &--3, &--4 {
      @extend .main-header__expanded-nav-item;
      display: block;
      width: fit-content;

      > a:hover, > p:hover {
        cursor: pointer;
        color: $color-blue-normal;
      }
    }

    &--approach {
      @extend .main-header__expanded-nav-item;
      display: block;

      > a:hover, Link:hover {
        cursor: pointer;
        color: $color-blue-normal;
      }
    }

    &--for-business {
      @extend .main-header__expanded-nav-item;
      display: block;
      margin-bottom: 40px;

      > a:hover {
        color: $color-blue-normal;
      }
    }
    &--joinus {
      @extend .main-header__expanded-nav-item;
      margin-bottom: 40px;
      line-height: inherit;
    }
  }

  &__expanded-nav-dropdown {
    position: absolute;
    left: 18px;
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 460px;
    max-width: 90vw;
    margin-top: 10px;
    padding: 15px;
    border-radius: 14px;
    border: 2px solid $color-default;
    background-color: white;
    
    &--open {
      @extend .main-header__expanded-nav-dropdown;
      display: flex;
    }
  }
  
  &__expanded-greyed-out-zone {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
  }
}

p.main-header__dropdown-item-text {
  margin-bottom: 0;
  margin-left: 20px;
  @include header-font;
}

span.main-header__dropdown-item-text--highlighted {
  margin-bottom: 0;
  @include header-font($color-blue-normal);
}



@media only screen and (min-width: 375px) {
  .main-header {

    &__nav {
      grid-template-columns: 290px auto;
    }

    &__nav-home {
      width: 290px;
    }

    &__nav-list {
      grid-template-columns: auto 60px;
    }
  }
}



@media only screen and (min-width: 400px) {
  .main-header {

    &__nav-list {
      grid-template-columns: auto 80px;
    }
  }
}



@media only screen and (min-width: 450px) {
  .main-header {

    &__nav-home-logo {
      display: block;

      &--mobile {
        display: none;
      }
    }
  }
}



@media only screen and (min-width: 500px) {
  .main-header {

    &__nav-home {
      margin-left: 40px;
    }

    &__nav-item {

      &--menu {
        margin-right: 25px;
      }
    }
  }
}



@media only screen and (min-width: 850px) {
  .main-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;

    &__nav-home {
      margin-left: 0;
    }

    &__nav-item {

      &--menu {
        margin-right: 0;
      }
    }
  }
}



@media only screen and (min-width: 1000px) {
  .main-header {

    &__nav-home-container {
      margin-top: -1px;
    }

    &__nav-home-logo {
      display: none;

      &--mobile {
        display: block;
      }
    }

    &__nav {
      grid-template-rows: 98px;
      grid-template-columns: 205px auto;
    }

    &__nav-list {
      grid-template-rows: 98px;
      grid-template-columns: 1fr repeat(7, auto) 1fr auto;
      // When we have more than one centered nav item, remove this second grid-template-columns and use the first one
      //grid-template-columns: 75px repeat(3, auto) 1fr auto;
      grid-column-gap: 0;
    }
    
    &__nav-home {
      width: auto;
    }

    &__nav-home-textlogo {
      margin-left: 12px;
      padding-top: 3px;
    }

    &__nav-item {
      padding-top: 3px;
      
      &--menu {
        display: none;
      }
      &--0 {
        display: block;
        grid-column: 2 / 3;
        margin-right: 12px;
      }
      &--1 {
        display: block;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        margin-left: 12px;
        margin-right: 12px;
      }
      &--2 {
        display: block;
        grid-column: 6 / 7;
        grid-row: 1 / 2;
        margin-left: 12px;
        margin-right: 12px;
      }
      &--3 {
        display: block;
        grid-column: 8 / 9;
        grid-row: 1 / 2;
        margin-left: 12px;
        margin-right: 12px;
      }
      &--approach {
        display: block;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-left: 12px;
        margin-right: 12px;
      }

      &--for-business {
        display: block;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        margin-left: 12px;
      }
      &--joinus {
        display: block;
        grid-column: 6 / 7;
        grid-row: 1 / 2;
        padding-top: 0;
      }
      &--last {
        display: flex;
        grid-column: 10 / 11;
        grid-row: 1 / 2;
        padding-top: 0;
      }
    }
  }
}



@media only screen and (min-width: 1250px) {
  .main-header {
    width: 1030px;
    max-width: none;

    &__nav-list {
      grid-template-columns: 50px repeat(7, auto) 1fr auto;
    }

    &__nav-home-logo {
      display: block;

      &--mobile {
        display: none;
      }
    }

    &__nav {
      grid-template-columns: 315px auto;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .main-header {
    width: 1180px;
  }
}



@media only screen and (min-width: 1600px) {
  .main-header {
    width: 1300px;
  }
}