@import "../../../styles/colors.scss";

.wrapper {
  max-width: 800px;
  margin: auto;
}

.content {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
    "head"
    "side"
    "main"
    "foot";

  h1 {
    font-size: 26px;
  }
  img {
    max-width: 300px;
  }
}



@media only screen and (min-width: 1000px) {


  .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "head head head"
      "side main main"
      "foot foot foot";

    h1 {
      font-size: 36px;
    }
  }
}

.box {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px;
}

.head {
  grid-area: head;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  grid-area: side;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalimage {
  grid-area: side;

  img {
    max-width: 150px;
    border: 2px solid;
    border-radius: 20px;
  }
}


.personaldetailitem {
  font-size: 16x;
  font-weight: 700;
  padding: 5px 10px;
}


.experience {
  grid-area: main;
}

.experienceitem {
  margin: 40px 0;

}

.experienceheader {
  margin-bottom: 10px;
}

.experiencedate {
  background-color: rgb(238, 238, 238);
  font-size: 16x;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 20px;
}

.experiencetitle {
  font-size: 16x;
  font-weight: 700;
}

.foot {
  grid-area: foot;
}

