@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.experienceitem {
  margin: 40px 0;

}

.experienceheader {
  margin-bottom: 10px;
}

.experiencedate {
  background-color: $color-green-light;
  font-size: 16x;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 20px;
}

.experiencetitle {
  @include very-small-title-font($color-red-normal);
}
