@import "../../../styles/colors.scss";


.experienceitem {
  margin: 40px 0;

}

.experienceheader {
  margin-bottom: 10px;
}

.experiencedate {
  background-color: rgb(238, 238, 238);
  font-size: 16x;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 20px;
}

.experiencetitle {
  font-size: 16x;
  font-weight: 700;
}
