@import "../../../styles/font-mixins.scss";


.howcanwehelp {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 17px 40px 18px;
  background-color: white;
  
  &--with-navigator {
    @extend .howcanwehelp;
  }
  
  &__title {
    max-width: 500px;
    margin-bottom: 30px;
    @include title-font;
  }

  &__text {
    @include slightly-larger-text-font;
  }
  
  &__positions {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    
    &--with-navigator {
      @extend .howcanwehelp__positions;
    }
  }
}



@media only screen and (min-width: 500px) {
  .howcanwehelp {
    padding: 40px 40px 50px 40px;
  }
}



@media only screen and (min-width: 800px) {
  .howcanwehelp {
    padding: 40px 50px 70px 50px;

    &__title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      text-align: center;
    }
    
    &__positions {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      
      &--with-navigator {
        margin-left: 0;
      }
    }
  }
}



@media only screen and (min-width: 850px) {
  .howcanwehelp {

    &--with-navigator {
      padding-left: 40px;
      padding-right: 20px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .howcanwehelp {
    width: 900px;
    padding: 40px 70px 120px 70px;
    
    &--with-navigator {
      padding-left: 40px;
      padding-right: 20px;
    }

    &__title {
      max-width: 580px;
      margin-bottom: 70px;
    }
    
    &__positions {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      align-items: stretch;
      
      &--with-navigator {
        grid-template-columns: 1fr;
        grid-gap: 35px;
      }
    }
  }
}