@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.case-card {
  display: grid;
  grid-template:
    "media"
    "text"
    / auto;
  min-width: 240px;
  min-height: 240px;
  padding: 30px 50px 27px 40px;
  // background-color: $color-blue-very-light;
  // transition: 0.2s;
  align-items: center;
  border:2px solid $color-grey-normal;
  border-radius: 20px;

  &__media-container {
    grid-area: media;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    justify-self: flex-end;
    background-color: white;
    border:2px solid transparent;
    /* border: 2px solid; */
    /* border-radius: 40px; */
    width: 80%;
    transition: 0.2s;
    // border: 2px solid;
    border-radius: 20px;



    &--with-video {
      @extend .case-card__media-container;
    }
  }

  &__media-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 380px;
    max-width: 380px;
    padding: 40px;
  }

  &:hover {
    background-color: $color-grey-super-ultra-light;

    .case-card__media-container {
      border:2px solid $color-grey-normal;
      // padding-left:20px;
      // padding-top:0px;
      // padding-right: 0;
    }

  }

  &__textcontainer {
    margin-bottom: auto;
    margin-top: 0;
    grid-area: text;
  }

  &__readmore {
    padding: 15px 30px 12px 30px;
    border-radius: 26px;
    font-family: "Atlas Grotesk", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $color-grey-normal;
    cursor: pointer;
    background-color: white;
    border: solid 2px $color-grey-normal;

    display: inline-block;
    text-align: center;

    &:active {
      transform: perspective(1px) scale(0.975);
    }

    &:hover,
    &:active {
      background-color: white;
      color: $color-grey-normal;
      border: solid 2px $color-grey-normal;
    }
  }

  &-younext {
    @extend .case-card;
    //border:10px solid $color-grey-normal;
    // border: 5px solid $color-grey-very-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px !important;

    &__title {
      margin-top: auto;
      margin-bottom: auto;
      @include card-title-font-small;
    }
  }

  &__tags-title {
    grid-column: 1 / 3;
    align-self: flex-end;
    margin-top: 30px;
    @include position-card-text-font;
  }

  &__tags {
    grid-column: 1 / 3;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  &__tag {
    margin-right: 10px;
  }

  &--one {
    grid-column: span 1;
    grid-template:
      "media"
      "text"

      / auto;
    .case-card__media-container {
      display: none;
    }
  }

  &--two {
    grid-column: span 1;
    grid-template:
      "media"
      "text"

      / auto;
    .case-card__media-container {
      display: none;
    }
  }

  &--three {
    grid-column: span 1;
    grid-template:
      "media"
      "text"

      / auto;
    .case-card__media-container {
      display: none;
    }
  }

  &--green {
    @extend .case-card;

    // box-shadow:  -15px 15px $color-green-light;
    // background-color: $color-green-light;
    &:hover {
      // box-shadow: -15px 15px $color-green-normal;
      background-color: $color-green-very-light;
      .case-card__media-container {
        -webkit-filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-green-normal);
        filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-green-normal);
      }
    }
  }

  &--yellow {
    @extend .case-card;

    //box-shadow:  -15px 15px  $color-yellow-light;
    // background-color: $color-yellow-light;
    &:hover {
      // box-shadow: -15px 15px $color-yellow-normal;
      background-color: $color-yellow-very-light;
      .case-card__media-container {
        -webkit-filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-yellow-normal);
        filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-yellow-normal);
      }
    }
  }

  &--blue {
    @extend .case-card;

    //box-shadow:  -15px 15px  $color-blue-light;
    // background-color: $color-blue-light;
    &:hover {
      // box-shadow: -15px 15px $color-blue-normal;
      background-color: $color-blue-very-light;
      .case-card__media-container {
        -webkit-filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-blue-normal);
        filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-blue-normal);
      }
    }
  }

  &--red {
    @extend .case-card;

    //box-shadow:   -15px 15px $color-red-light;
    // background-color: $color-red-light;
    &:hover {
      // box-shadow: -15px 15px $color-red-normal;
      background-color: $color-red-very-light;
      .case-card__media-container {
        -webkit-filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-red-normal);
        filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-red-normal);
      }
    }
  }

  &--purple {
    @extend .case-card;

    //box-shadow:  -15px 15px  $color-purple-light;
    // background-color: $color-purple-light;
    &:hover {
      // box-shadow: -15px 15px $color-purple-normal;
      background-color: $color-purple-very-light;
      .case-card__media-container {
        -webkit-filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-purple-normal);
        filter: grayscale(0%) drop-shadow(-10px 10px 0 $color-purple-normal);
      }
    }
  }

  &__title {
    // margin-top: 100px;
    margin-bottom: 20px;
    @include card-title-font;
    max-width: 400px;
  }

  &__title--three {
    // margin-top: 100px;
    margin-bottom: 20px;
    @include card-title-font;
  }


  &__info {
    @include card-info-font-small;
    max-width: 400px;
    margin-bottom: 25px;
  }

  &__big-text-balloon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 400px;

    height: 100%;
    fill: white;
    // stroke:$color-default;
    // stroke-width: 2px;
    // fill: $color-green-light;

    &--green {
      @extend .case-card__big-text-balloon;
      // filter:drop-shadow(-15px -15px $color-green-normal);
      // fill: $color-green-light;
    }

    &--yellow {
      @extend .case-card__big-text-balloon;
      // filter:drop-shadow(-15px -15px $color-yellow-normal);
      // fill: $color-yellow-light;
    }

    &--purple {
      @extend .case-card__big-text-balloon;
      // filter:drop-shadow(-15px -15px $color-purple-normal);
      //fill: $color-purple-light;
    }

    &--red {
      @extend .case-card__big-text-balloon;
      // filter:drop-shadow(-15px -15px $color-red-normal);
      //fill: $color-red-light;
    }

    &--blue {
      @extend .case-card__big-text-balloon;
      // filter:drop-shadow(-15px -15px $color-blue-normal);
      //fill: $color-red-light;
    }
  }


  &__logo-container {
    position: absolute;
    top: 15px;
    right: 25px;
  }

  &__logo-container-above {
    position: relative;
    margin-bottom: 20px;
    margin-top: auto;
  }

  &__logo {
    width: 80px;
  }
}



@media only screen and (min-width: 450px) {
  .case-card {
    // width: 377px;
    min-height: 300px;
    min-width: 300px;

    &__title {
      margin-top: auto;
    }

    &__logo-container {
      position: absolute;
      top: 40px;
      right: 45px;
    }

    &__logo-container-above {
      position: relative;
      margin-bottom: 20px;
      margin-top: auto;
    }

    &__logo {
      width: 100px;
    }
  }
}



@media only screen and (min-width: 800px) {
  .case-card {
    // width: 405px;
    min-height: 405px;
    min-width: 405px;
    padding-left: 40px;
    padding-right: 37px;
    padding-bottom: 30px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .case-card {

    &__info {
      @include card-info-font;
    }

    &--one {
      grid-column: span 1;

    }

    &--two {
      grid-column: span 2;
      grid-template: "text media"/ 1fr 1fr;

      .case-card__media-container {
        display: flex;
        width: 350px;
        height: 350px;
      }
    }

    &--three {
      grid-column: span 2;
      grid-template:
        "text media"

        / 1fr 1fr;
      .case-card__media-container {
        display: flex;
        width: 380px;
        height: 380px;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {

  .case-card {
    &__info {
      @include card-info-font-large;
    }

    &__title--three {
      @include card-title-font-large;
    }

    &--one {
      grid-column: span 1;
    }

    &--two {
      grid-column: span 2;
    }

    &--three {
      grid-column: span 3;

      .case-card__media-container {
        display: flex;
      }
    }
  }
}