@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";

.wrapper {
  max-width: 800px;
  margin: auto;
}

.content {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  @include text-font($color-grey-normal);
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:
    "head"
    "side"
    "main"
    "foot";

  h1 {
    @include small-title-font($color-grey-normal);
  }
  img {
    max-width: 300px;
  }
}



@media only screen and (min-width: 1000px) {


  .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "head head head"
      "side main main"
      "foot foot foot";

    h1 {
      font-size: 36px;
    }
  }
}

.box {
  background-color: $color-blue-very-light;
  border-radius: 20px;
  padding: 20px;
}

.head {
  grid-area: head;
  text-align: center;
  background-color: $color-red-normal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    @include small-title-font(white);
  }
}

.sidebar {
  grid-area: side;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalimage {
  grid-area: side;

  img {
    max-width: 150px;
    border-radius: 20px;
  }
}


.personaldetailitem {
  font-size: 16x;
  font-weight: 700;
  padding: 5px 10px;
}


.experience {
  grid-area: main;
}

.foot {
  grid-area: foot;
}

