@import "../../../styles/font-mixins.scss";


.intro {
  margin: 40px 20px 50px;

  &--with-navigator {
    @extend .intro;
  }
  
  &__text {
    @include slightly-larger-text-font;
  }
}



@media only screen and (min-width: 500px) {
  .intro {
    margin-left: 40px;
    margin-right: 40px;
  }
}



@media only screen and (min-width: 850px) {
  .intro {
    width: 780px;
    margin: 80px auto 80px auto;
    
    &--with-navigator {
      width: auto;
      margin-left: 40px;
      margin-right: 20px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .intro {
    // margin: 140px auto 140px auto;
    
    &--with-navigator {
      display: block;
      width: auto;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .intro {
    width: 850px;

    &--with-navigator {
      width: auto;
    }
  }
}



@media only screen and (min-width: 1600px) {
  .intro {
    width: 900px;

    &--with-navigator {
      width: auto;
    }
  }
}