@import "../../../styles/font-mixins";
@import "../../../styles/variables";

.cookiebanner {
  @include cookiebar-font();
  position: absolute;
  top: 1rem;
  left: 2vw;
  z-index: 2;
  width: 96vw;
  max-width: 475px;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media(screen and min-width: $screen-sm-min) {
    left: 5vw;
  }

  @media(screen and min-width: $screen-md-min) {
    flex-wrap: nowrap;
    width: 600px;
    max-width: none;
  }

  @media(screen and min-width: $screen-xl-min) {
    left: 10vw;
  }

  background-color: #001C54;
  color: white;

  &__actions {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    padding: 2rem 1rem 2rem 0;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: underline;
      cursor: pointer;
    }

    @media(screen and min-width: $screen-md-min) {
      flex-direction: column;
    }
  }
  
  &__configure-action {
    width: 100px;
    margin-left: 20px;

    @media(screen and min-width: $screen-md-min) {
      width: 200px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    padding: 1em;
  }
}

.cookiebanner-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
}