


@font-face {
  font-family: Atlas Grotesk;
  src: local("sans-serif"), url(../public/fonts/AtlasGrotesk-Regular.otf) format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Atlas Grotesk;
  src: local("sans-serif"), url(../public/fonts/AtlasGrotesk-Medium.otf) format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Atlas Grotesk;
  src: local("sans-serif"), url(../public/fonts/AtlasGrotesk-Bold.otf) format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Brown LL;
  src: local("sans-serif"), url(../public/fonts/BrownLLWeb-Bold.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Brown LL;
  src: local("sans-serif"), url(../public/fonts/BrownLLWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Brown LL;
  src: local("sans-serif"), url(../public/fonts/BrownLLWeb-Black.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}


@font-face {
  font-family: GT Flexa;
  src: local("sans-serif"), url(../public/fonts/GT-Flexa-Standard-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: GT Flexa;
  src: local("sans-serif"), url(../public/fonts/GT-Flexa-Standard-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: GT Flexa;
  src: local("sans-serif"), url(../public/fonts/GT-Flexa-Standard-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: GT Flexa;
  src: local("sans-serif"), url(../public/fonts/GT-Flexa-Standard-Black.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}