/* autoprefixer grid: autoplace */

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.acquisition__emphmail {
  display: inline-block;
  margin: 5px 10px 0;
  padding: 5px 15px;
  border-radius: 50px;
  font-family: "Brown LL", sans-serif;
  font-weight: 800;
  background-color: #ffefad;
  color: #001c54!important;
  word-wrap:no-wrap;
}

.acquisition__emphmail:hover {
  background-color: #ffcf11;
}

.imagecarousel__emphmail {
  display: inline-block;
  font-size: 16px;
  margin: 5px 10px 0;
  padding: 5px 15px;
  border-radius: 50px;
  font-family: "Brown LL", sans-serif;
  font-weight: 600;
  background-color: #ffefad;
  color: #001c54!important;
  word-wrap:no-wrap;
  margin-bottom: 55px;
}

.imagecarousel__emphmail:hover {
  background-color: #ffcf11;
}

.acquisition__chatbubble{
max-width:none!important;
margin-left: 0!important;
position: relative;
top: 23px;
width: 80px;
height: 60px;
padding: 0 10px 0 10px !important;
}

body.frozen {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.tmc-richtext p {
  margin-bottom: 20px;
}

.nav-active {
  background-color: #eaf0fd;
}

*,
*:focus,
*:hover {
  outline: none;
  -webkit-text-size-adjust: 100%;
}

/*floating*/
.floating {
  animation-name: floating;
  animation-duration: 20s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

.is-open .mdi-chevron-down {

  transform: rotate(180deg);
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.floating2 {
  animation-name: floating2;
  animation-duration: 30s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(15px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

.floating3 {
  animation-name: floating3;
  animation-duration: 12s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating3 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(15px, 15px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}

.floating4 {
  animation-name: floating4;
  animation-duration: 30s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating4 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(30px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

.floating5 {
  animation-name: floating5;
  animation-duration: 40s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating5 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(-20px, 20px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}

.floating6 {
  animation-name: floating6;
  animation-duration: 40s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating6 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.floating7 {
  animation-name: floating7;
  animation-duration: 8s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating7 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}


.floating8 {
  animation-name: floating8;
  animation-duration: 20s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating8 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/*floatupandfloat*/
.floatupandfloat {
  animation-name: floatup, floating;
  animation-duration: 3s, 5s;
  animation-iteration-count: 1, 10;
  animation-delay: 0ms, 3000ms;
  animation-timing-function: ease-out, ease-in-out;
}

.floatupandfloat2 {
  animation-name: floatup2, floating2;
  animation-duration: 2s, 7s;
  animation-iteration-count: 1, 10;
  animation-delay: 0ms, 2000ms;
  animation-timing-function: ease-out, ease-in-out;
}

.floatupandfloat3 {
  animation-name: floatup3, floating3;
  animation-duration: 4s, 10s;
  animation-iteration-count: 1, 10;
  animation-delay: 0ms, 4000ms;
  animation-timing-function: ease-out, ease-in-out;
}


@keyframes floatup {
  0% {
    transform: translate(0, 60px);
    opacity: 0;
  }

  100% {
    transform: translate(0, -0px);
    opacity: 1;
  }
}

@keyframes floatup2 {
  0% {
    transform: translate(0, 90px);
    opacity: 0;
  }

  100% {
    transform: translate(0, -0px);
    opacity: 1;
  }
}

@keyframes floatup3 {
  0% {
    transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    transform: translate(0, -0px);
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.floating2 {
  animation-name: floating2;
  animation-duration: 30s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(10px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

.floating3 {
  animation-name: floating3;
  animation-duration: 12s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating3 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}

.floating4 {
  animation-name: floating4;
  animation-duration: 30s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating4 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(30px, 0);
  }

  100% {
    transform: translate(-0px, 0);
  }
}

.floating5 {
  animation-name: floating5;
  animation-duration: 40s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating5 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(-20px, 20px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}

.floating6 {
  animation-name: floating6;
  animation-duration: 40s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating6 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.floating7 {
  animation-name: floating7;
  animation-duration: 8s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating7 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(-5px, 5px);
  }

  100% {
    transform: translate(-0px, -0px);
  }
}


.floating8 {
  animation-name: floating8;
  animation-duration: 20s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
}

@keyframes floating8 {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.domain-change-soft-skills-bg {
  background-color: #b5ece5;
}

.domain-data-bg {
  background-color: #ffefad;
}

.domain-decisions-bg {
  background-color: #b5ece5;
}

.domain-lean-agile-bg {
  background-color: #ffb5b5;
}

.domain-problem-solving-business-analysis-bg {
  background-color: #ffb5b5;
}

.domain-processes-bg {
  background-color: #b5ece5;
}

.domain-product-management-bg {
  background-color: #ccc2ff;
}

.domain-project-management-bg {
  background-color: #ffb5b5;
}

.domain-service-design-bg {
  background-color: #ccc2ff;
}

.domain-software-technology-bg {
  background-color: #ffefad;
}



body.showCookiePolicy {
  overflow: hidden;
  position: relative;
}

.simple-page-content {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  max-width: 820px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.carousel__slider-tray-wrapper {
  /* padding-bottom:95% !important; */
}

.button-link {
  width: 100%;
}


.buildbetterword-products {
  color: #FFCF11;
}

.typewriter-actualcursor-products {
  color: #FFCF11;
}

.typewriterperson-products {
  color: #FFCF11;
  background: #FFFAE6;
}

.buildbetterword-processes {
  color: #33DFC8;
}

.typewriter-actualcursor-processes {
  color: #33DFC8;
}

.typewriterperson-processes {
  color: #33DFC8;
  background-color: #E8F9F7;
}


.buildbetterword-software {
  color: #FF6868;
}

.typewriter-actualcursor-software {
  color: #FF6868;
}

.typewriterperson-software {
  color: #FF6868;
  background: #FFE8E8;
}

.buildbetterword-organizations {
  color: #705BFE;
}

.typewriter-actualcursor-organizations {
  color: #705BFE;
}

.typewriterperson-organizations {
  color: #705BFE;
  background-color: #EFECFF;
}

.buildbetterword-companies {
  color: #0D51D7;
}

.typewriter-actualcursor-companies {
  color: #0D51D7;
}

.typewriterperson-companies {
  color: #0D51D7;
  background-color: #EAF0FD;
}

.buildbetterword-experiences {
  color: #FFCF11;
}

.typewriter-actualcursor-experiences {
  color: #FFCF11;
}

.typewriterperson-experiences {
  color: #FFCF11;
  background: #FFFAE6;
}

.buildbetterword-you-one {
  color: #001c54;
}

.typewriter-actualcursor-you-one {
  color: #001c54;
}

.typewriterperson-you-one {
  color: #001c54;
  background-color: #e1e4ea;
  animation: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  padding: 5px 25px;
  line-height: 35px;
  font-weight: 600;
}

.buildbetterword-you {
  color: #0D51D7;
}

.spacebefore {
  margin-left: 15px;
}

.typewriter-actualcursor-you {
  color: #0D51D7;
}

.typewriterperson-you {
  color: #0D51D7;
  background-color: #EAF0FD;
  animation: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  padding: 5px 25px;
  line-height: 35px;
  font-weight: 600;
}



.Typewriter__cursor {
  animation: none !important;
}

@media only screen and (min-width: 1100px) {
  .Typewriter__cursor {
    position: absolute;
  }
}


.typewriter-actualcursor {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: Typewriter-cursor;
  font-weight: 200;
}

.noanimcursor {
  animation: none !important;
}


.typewriterperson {
  animation: none;
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  padding: 0px 20px;
  line-height: 35px;
  font-weight: 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  outline: none;
  border: 0 none white;
  padding: 12px 0 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #001C54;
  font-family: "Atlas Grotesk", sans-serif;
  font-size: 14px;
}

input::placeholder {
  color: #ADB2BC;
}

input:-ms-input-placeholder {
  color: #ADB2BC;
}

/*button {*/
/*  padding: 15px 30px 12px 30px;*/
/*  border: 0 none #0D51D7;*/
/*  border-radius: 22px;*/
/*  background-color: #0D51D7;*/
/*  color: white;*/
/*  font-family: "Atlas Grotesk", sans-serif;*/
/*  font-weight: 500;*/
/*  font-size: 14px;*/
/*}*/

@media only screen and (min-width: 800px) {
  button {
    padding: 15px 35px 12px 35px;
    font-size: 16px;
  }
}