@import "../../../styles/font-mixins.scss";


.paragraph {
  margin: 40px 20px 50px;

  &--with-navigator {
    @extend .paragraph;
  }
  
  &__text {
    @include slightly-larger-text-font;
  }
}



@media only screen and (min-width: 500px) {
  .paragraph {
    margin-left: 40px;
    margin-right: 40px;
  }
}



@media only screen and (min-width: 850px) {
  .paragraph {
    width: 780px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    
    &--with-navigator {
      width: auto;
      margin-left: 40px;
      margin-right: 20px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .paragraph {
    margin-top: 102px;
    margin-bottom: 70px;
    
    &--with-navigator {
      display: block;
      width: auto;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .paragraph {
    width: 850px;

    &--with-navigator {
      width: auto;
    }
  }
}



@media only screen and (min-width: 1600px) {
  .paragraph {
    width: 900px;

    &--with-navigator {
      width: auto;
    }
  }
}