@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.acquisition {
  padding: 25px 20px 15px 20px;
  background-color: $color-yellow-very-light;

  &__title {
    margin-bottom: 20px;
    @include title-font($color-grey-normal);
  }

  &__text {
    margin-bottom: 10px;
    @include text-font($color-grey-normal);
  }

  &__emphmail {
    display: inline-block;
    margin: 5px 10px 0;
    padding: 5px 15px;
    border-radius: 50px;
    font-family: "Brown LL", sans-serif;
    font-weight: 800;
    background-color: $color-yellow-light;
  }

  &__chatbubble {
    position: relative;
    top: 23px;
    width: 80px;
    height: 60px;
    padding: 0 10px;
  }
}



@media only screen and (min-width: 500px) {
  .acquisition {
    padding: 30px 40px 20px 40px;

    &__title {
      max-width: 450px;
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 15px;
    }
    
    &__emphmail {
      margin: 0 10px;
    }
  }
}



@media only screen and (min-width: 850px) {
  .acquisition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      grid-column: 3 / 4;
      max-width: none;
      width: 400px;
      margin-bottom: 35px;
    }
    
    &__text {
      grid-column: 3 / 4;
    }
  }
}



@media only screen and (min-width: 900px) {
  .acquisition {

    &__title {
      width: 400px;
    }
  }
}



@media only screen and (min-width: 1250px) {
  .acquisition {
    grid-template-columns: auto 301px 729px auto;
    padding: 100px 0 90px 40px;

    &__title {
      width: 550px;
      margin-bottom: 44px;
    }

    &__text {
      margin-bottom: 22px;
    }
  }
}



@media only screen and (min-width: 1400px) {
  .acquisition {
    grid-template-columns: auto 345px 835px auto;
  }
}



@media only screen and (min-width: 1600px) {
  .acquisition {
    grid-template-columns: auto 380px 920px auto;
  }
}